captcha:
    key-long: 6
    img-width: 240
    img-height: 80
    open-captcha: 0
    open-captcha-timeout: 3600
cors:
    mode: strict-whitelist
    whitelist:
        - allow-origin: example1.com
          allow-methods: POST, GET, OPTIONS, DELETE, PUT
          allow-headers: Content-Type, AccessToken,X-CSRF-Token, Authorization, Token, X-Token, X-User-Id
          expose-headers: Content-Length, Access-Control-Allow-Origin, Access-Control-Allow-Headers, Content-Type, New-Token, New-Expires-At
          allow-credentials: true
        - allow-origin: example2.com
          allow-methods: POST, GET, OPTIONS, DELETE, PUT
          allow-headers: Content-Type, AccessToken,X-CSRF-Token, Authorization, Token, X-Token, X-User-Id
          expose-headers: Content-Length, Access-Control-Allow-Origin, Access-Control-Allow-Headers, Content-Type, New-Token, New-Expires-At
          allow-credentials: true
email:
    to: ""
    from: ""
    host: ""
    secret: ""
    nickname: ""
    port: 0
    is-ssl: false
excel:
    dir: ./resource/excel/
jwt:
    signing-key: fef6dbb0-f4b8-4b56-8a47-54c2336a5b91
    expires-time: 7d
    buffer-time: 1d
    issuer: FVan
local:
    path: uploads/file
    store-path: uploads/file
mysql:
    prefix: ""
    port: "3306"
    config: charset=utf8mb4&parseTime=True&loc=Local
    db-name: oms
    username: root
    password: Mysql123Admin456
    path: 127.0.0.1
    engine: InnoDB
    log-mode: error
    max-idle-conns: 10
    max-open-conns: 100
    singular: false
    log-zap: false
redis:
    addr: 127.0.0.1:6379
    password: ""
    db: 0
system:
    env: debug
    db-type: mysql
    router-prefix: ""
    addr: 8888
    iplimit-count: 15000
    iplimit-time: 3600
    use-tls: false
    tls-cert: ./resource/cert/server.pem
    tls-key: ./resource/cert/server.key
version: v0.0.1
zap:
    level: debug
    prefix: '[github.com/jasvtfvan/oms-admin/server]'
    format: console
    director: log
    encode-level: LowercaseColorLevelEncoder
    stacktrace-key: stacktrace
    max-age: 0
    show-line: true
    log-in-console: true
